<%- include('./partials/header') %>

    <div class="bg-image d-flex flex-column align-items-center justify-content-center">

        <h1 class="p-4 text-center text-white">ESTUDIO DE INGENIERIA CIVIL</h1>
        <h2 class="p-4 text-center text-white">Somos un equipo de profesionales apasionados por la creación de
            soluciones innovadoras y sostenibles para los desafíos de ingeniería que enfrentan nuestras comunidades.
        </h2>
    </div>

    <div class="container-md dedicamos">
        <h1 class="text-center pb-5" style="font-weight: 300;">¿A que nos dedicamos?</h1>
        <div class="row">
            <div class="col-md-4 card ">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <i class="card-title fas fa-solid fa-ruler text-info" style="font-size: 30px;"></i>
                    <h2 class="card-title text-center">Agrimensura</h2>
                </div>
            </div>

            <div class="col-md-4 card">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <i class="card-title fas fa-solid fa-water text-info" style="font-size: 30px;"></i>
                    <h2 class="card-title text-center">Hidrologia e hidraulica</h2>
                </div>
            </div>


            <div class="col-md-4 card">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <i class="card-title fas fa-solid fa-globe text-info" style="font-size: 30px;"></i>
                    <h2 class="card-title text-center">Topografia</h2>
                </div>
            </div>

            <div class="col-md-4 card">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <i class="card-title fas fa-solid fa-map text-info" style="font-size: 30px;"></i>
                    <h2 class="card-title text-center">Infraestructura</h2>
                </div>
            </div>

            <div class="col-md-4 card">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <i class="card-title fas fa-solid fa-gavel text-info" style="font-size: 30px;"></i>
                    <h2 class="card-title text-center">Ingeniería Ambiental</h2>
                </div>
            </div>

            <div class="col-md-4 card">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <i class="card-title fas fa-solid fa-tractor text-info" style="font-size: 30px;"></i>
                    <h2 class="card-title text-center">Ejecucion y direccion de obras</h2>
                </div>
            </div>
        </div>

    </div>

    <div class="bg-image3 d-flex flex-column align-items-center justify-content-center">

        <h1 class="p-4 text-center text-white">POR QUE ELEGIRNOS?</h1>
        <h2 class="p-4 text-center text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus
            quisquam ducimus quo minus similique error voluptates alias facere molestiae, cupiditate, dolor ut modi
            eaque voluptatibus harum iure veritatis natus repellat.
        </h2>
    </div>


    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center pb-5">VISITA NUESTRAS SUCURSALES</h1>

            <div class="row">
                <div class="col-md-6 card ">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i class="card-title fas fa-solid fa-house-user text-info" style="font-size: 30px;"></i>
                        <h2 class="card-title text-center">San Luis 1516 - Of. 211, Villa María (Cba.)</h2>
                    </div>
                </div>

                <div class="col-md-6 card ">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i class="card-title fas fa-solid fa-house-user text-danger" style="font-size: 30px;"></i>
                        <h2 class="card-title text-center">Belgrano 505, Justiniano Posse (Cba.)</h2>
                    </div>
                </div>

                <div class="col-md-4 card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i style="font-size: 30px;" class="fa fa-regular fa-envelope text-info p-3"></i>
                        <h2 class="text-center">Envianos un mail</h2>
                    </div>
                </div>

                <div class="col-md-4 card ">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i style="font-size: 30px;" class="fa fa-brands fa-instagram text-info p-3"></i>
                        <h2 class="text-center">Seguinos en instagram</h2>
                    </div>
                </div>

                <div class="col-md-4 card ">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i style="font-size: 30px;" class="fa fa-brands fa-whatsapp text-info p-3"></i>
                        <h2 class="text-center">Envianos un whatsapp</h2>
                    </div>
                </div>


            </div>
        </div>
    </div>



    <%- include('./partials/footer') %>